USE [master]
GO
/****** Object:  Database [TPMS_DB]    Script Date: 6/8/2026 12:50:51 PM ******/
CREATE DATABASE [TPMS_DB]

ALTER DATABASE [TPMS_DB] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPMS_DB]
GO
/****** Object:  Table [dbo].[Chatbot_Query_Log]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chatbot_Query_Log](
	[QueryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[SourceType] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[ComboID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[ComboName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo_Subject]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo_Subject](
	[ComboSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[ComboID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[SemesterNo] [int] NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum](
	[CurriculumID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CurriculumName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_Elective]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_Elective](
	[CurriculumElectiveID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ElectiveGroupName] [nvarchar](150) NULL,
	[RequiredCredits] [int] NULL,
	[RequiredSubjectCount] [int] NULL,
	[DisplayOrder] [int] NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumElectiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_Subject]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_Subject](
	[CurriculumSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[SemesterNo] [int] NULL,
	[SubjectGroup] [nvarchar](50) NULL,
	[IsRequired] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learning_Material]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learning_Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[MaterialName] [nvarchar](200) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[MaterialType] [nvarchar](50) NULL,
	[Visibility] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[SubjectName] [nvarchar](150) NOT NULL,
	[Credits] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Prerequisite]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Prerequisite](
	[PrerequisiteID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[RequiredSubjectID] [int] NOT NULL,
	[ConditionType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrerequisiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus](
	[SyllabusID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[VersionNo] [nvarchar](30) NOT NULL,
	[SyllabusTitle] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LearningOutcome] [nvarchar](max) NULL,
	[AssessmentMethod] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[IsCurrentVersion] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ApprovedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SyllabusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Approval_Request]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Approval_Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[ReviewedBy] [int] NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ReviewNote] [nvarchar](max) NULL,
	[RequestedAt] [datetime] NOT NULL,
	[ReviewedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Feedback]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training_Program]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training_Program](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ProgramCode] [nvarchar](50) NOT NULL,
	[ProgramName] [nvarchar](150) NOT NULL,
	[AcademicYear] [nvarchar](20) NULL,
	[MajorName] [nvarchar](150) NULL,
	[PNO] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/8/2026 12:50:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'System administrator')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'Student', N'Student user')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (3, N'Teacher', N'Teacher user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
/****** Object:  Index [UQ_ComboSubject]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Combo_Subject] ADD  CONSTRAINT [UQ_ComboSubject] UNIQUE NONCLUSTERED 
(
	[ComboID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CurriculumElective]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Curriculum_Elective] ADD  CONSTRAINT [UQ_CurriculumElective] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CurriculumSubject]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Curriculum_Subject] ADD  CONSTRAINT [UQ_CurriculumSubject] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61609279A07D]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subject__9F7CE1A94D467D56]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Subject] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SubjectPrerequisite]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Subject_Prerequisite] ADD  CONSTRAINT [UQ_SubjectPrerequisite] UNIQUE NONCLUSTERED 
(
	[SubjectID] ASC,
	[RequiredSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Syllabus_Version]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Syllabus] ADD  CONSTRAINT [UQ_Syllabus_Version] UNIQUE NONCLUSTERED 
(
	[SubjectID] ASC,
	[VersionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Training__7658A9874FE745D5]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[Training_Program] ADD UNIQUE NONCLUSTERED 
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534EC78A7AD]    Script Date: 6/8/2026 12:50:52 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chatbot_Query_Log] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum_Elective] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum_Subject] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT ('Public') FOR [Visibility]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ('WaitingForSyllabus') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT ((0)) FOR [IsCurrentVersion]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Syllabus_Feedback] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus_Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Training_Program] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Chatbot_Query_Log]  WITH CHECK ADD  CONSTRAINT [FK_ChatbotQueryLog_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Chatbot_Query_Log] CHECK CONSTRAINT [FK_ChatbotQueryLog_User]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Curriculum]
GO
ALTER TABLE [dbo].[Combo_Subject]  WITH CHECK ADD  CONSTRAINT [FK_ComboSubject_Combo] FOREIGN KEY([ComboID])
REFERENCES [dbo].[Combo] ([ComboID])
GO
ALTER TABLE [dbo].[Combo_Subject] CHECK CONSTRAINT [FK_ComboSubject_Combo]
GO
ALTER TABLE [dbo].[Combo_Subject]  WITH CHECK ADD  CONSTRAINT [FK_ComboSubject_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Combo_Subject] CHECK CONSTRAINT [FK_ComboSubject_Subject]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_TrainingProgram] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Training_Program] ([ProgramID])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [FK_Curriculum_TrainingProgram]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [FK_Curriculum_User]
GO
ALTER TABLE [dbo].[Curriculum_Elective]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumElective_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Elective] CHECK CONSTRAINT [FK_CurriculumElective_Curriculum]
GO
ALTER TABLE [dbo].[Curriculum_Elective]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumElective_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Curriculum_Elective] CHECK CONSTRAINT [FK_CurriculumElective_Subject]
GO
ALTER TABLE [dbo].[Curriculum_Subject]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubject_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Subject] CHECK CONSTRAINT [FK_CurriculumSubject_Curriculum]
GO
ALTER TABLE [dbo].[Curriculum_Subject]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubject_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Curriculum_Subject] CHECK CONSTRAINT [FK_CurriculumSubject_Subject]
GO
ALTER TABLE [dbo].[Learning_Material]  WITH CHECK ADD  CONSTRAINT [FK_LearningMaterial_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Learning_Material] CHECK CONSTRAINT [FK_LearningMaterial_Syllabus]
GO
ALTER TABLE [dbo].[Learning_Material]  WITH CHECK ADD  CONSTRAINT [FK_LearningMaterial_User] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Learning_Material] CHECK CONSTRAINT [FK_LearningMaterial_User]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_User]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrerequisite_RequiredSubject] FOREIGN KEY([RequiredSubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [FK_SubjectPrerequisite_RequiredSubject]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrerequisite_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [FK_SubjectPrerequisite_Subject]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_ApprovedBy]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_CreatedBy]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_Subject]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_RequestedBy]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_ReviewedBy]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusFeedback_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Feedback] CHECK CONSTRAINT [FK_SyllabusFeedback_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusFeedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Feedback] CHECK CONSTRAINT [FK_SyllabusFeedback_User]
GO
ALTER TABLE [dbo].[Training_Program]  WITH CHECK ADD  CONSTRAINT [FK_TrainingProgram_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Training_Program] CHECK CONSTRAINT [FK_TrainingProgram_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [CK_SubjectPrerequisite_NotSelf] CHECK  (([SubjectID]<>[RequiredSubjectID]))
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [CK_SubjectPrerequisite_NotSelf]
GO
USE [master]
GO
