USE [master]
GO
/****** Object:  Database [TPMS_DB]    Script Date: 7/19/2026 11:56:48 PM ******/
CREATE DATABASE [TPMS_DB]

ALTER DATABASE [TPMS_DB] SET ANSI_NULL_DEFAULT OFF 
GO
USE [TPMS_DB]
GO
/****** Object:  Table [dbo].[Assessment_CLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment_CLO](
	[AssessmentCLOID] [int] IDENTITY(1,1) NOT NULL,
	[AssessmentID] [int] NOT NULL,
	[CLOID] [int] NOT NULL,
 CONSTRAINT [PK_Assessment_CLO] PRIMARY KEY CLUSTERED 
(
	[AssessmentCLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chatbot_Query_Log]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chatbot_Query_Log](
	[QueryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[SourceType] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QueryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLO](
	[CLOID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[CLOName] [nvarchar](50) NOT NULL,
	[CLODetails] [nvarchar](200) NULL,
	[LODetails] [nvarchar](max) NOT NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_CLO] PRIMARY KEY CLUSTERED 
(
	[CLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLO_PLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLO_PLO](
	[CloPloID] [int] IDENTITY(1,1) NOT NULL,
	[CLOID] [int] NOT NULL,
	[PloID] [int] NOT NULL,
 CONSTRAINT [PK_CLO_PLO] PRIMARY KEY CLUSTERED 
(
	[CloPloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[ComboID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[ComboName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo_Subject]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo_Subject](
	[ComboSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[ComboID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[SemesterNo] [int] NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComboSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum](
	[CurriculumID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CurriculumName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_Elective]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_Elective](
	[CurriculumElectiveID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[ElectiveGroupName] [nvarchar](150) NULL,
	[DisplayOrder] [int] NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumElectiveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_Subject]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_Subject](
	[CurriculumSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[SemesterNo] [int] NULL,
	[SubjectGroup] [nvarchar](50) NULL,
	[IsRequired] [bit] NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CurriculumSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curriculum_Subject_PLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curriculum_Subject_PLO](
	[CurriculumSubjectPloID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[CurriculumSubjectID] [int] NOT NULL,
	[PloID] [int] NOT NULL,
	[ContributionLevel] [varchar](10) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Curriculum_Subject_PLO] PRIMARY KEY CLUSTERED 
(
	[CurriculumSubjectPloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Learning_Material]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Learning_Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[UploadedBy] [int] NOT NULL,
	[MaterialName] [nvarchar](200) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[MaterialType] [nvarchar](50) NULL,
	[Visibility] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[UploadedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLO](
	[PloID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[PloCode] [nvarchar](50) NOT NULL,
	[PloDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_PLO] PRIMARY KEY CLUSTERED 
(
	[PloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO](
	[PoID] [int] IDENTITY(1,1) NOT NULL,
	[CurriculumID] [int] NOT NULL,
	[PoCode] [nvarchar](50) NOT NULL,
	[PoDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session_CLO]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session_CLO](
	[SessionCLOID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[CLOID] [int] NOT NULL,
 CONSTRAINT [PK_Session_CLO] PRIMARY KEY CLUSTERED 
(
	[SessionCLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[SubjectCode] [nvarchar](50) NOT NULL,
	[SubjectName] [nvarchar](150) NOT NULL,
	[Credits] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject_Prerequisite]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject_Prerequisite](
	[PrerequisiteID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[RequiredSubjectID] [int] NOT NULL,
	[ConditionType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrerequisiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus](
	[SyllabusID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedBy] [int] NULL,
	[VersionNo] [nvarchar](30) NOT NULL,
	[SyllabusTitle] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[LearningOutcome] [nvarchar](max) NULL,
	[AssessmentMethod] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
	[IsCurrentVersion] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ApprovedAt] [datetime] NULL,
	[SyllabusName] [nvarchar](300) NULL,
	[SyllabusEnglish] [nvarchar](300) NULL,
	[DegreeLevel] [nvarchar](50) NULL,
	[TimeAllocation] [nvarchar](500) NULL,
	[PreRequisiteText] [nvarchar](500) NULL,
	[StudentTasks] [nvarchar](max) NULL,
	[Tools] [nvarchar](max) NULL,
	[ScoringScale] [int] NULL,
	[DecisionNo] [nvarchar](200) NULL,
	[Note] [nvarchar](max) NULL,
	[MinAvgMarkToPass] [decimal](3, 1) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SyllabusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Approval_Request]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Approval_Request](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[RequestedBy] [int] NOT NULL,
	[ReviewedBy] [int] NULL,
	[RequestType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ReviewNote] [nvarchar](max) NULL,
	[RequestedAt] [datetime] NOT NULL,
	[ReviewedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Assessment]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Assessment](
	[AssessmentID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[Category] [nvarchar](300) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Part] [int] NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[CompletionCriteria] [nvarchar](200) NULL,
	[Duration] [nvarchar](100) NULL,
	[QuestionType] [nvarchar](max) NULL,
	[NoQuestion] [nvarchar](100) NULL,
	[KnowledgeAndSkill] [nvarchar](max) NULL,
	[GradingGuide] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Syllabus_Assessment] PRIMARY KEY CLUSTERED 
(
	[AssessmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Feedback]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Material]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Material](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[MaterialDescription] [nvarchar](500) NOT NULL,
	[Author] [nvarchar](300) NULL,
	[Publisher] [nvarchar](200) NULL,
	[PublishedDate] [nvarchar](50) NULL,
	[Edition] [nvarchar](50) NULL,
	[ISBN] [nvarchar](50) NULL,
	[IsMainMaterial] [bit] NOT NULL,
	[IsHardCopy] [bit] NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Syllabus_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Syllabus_Session]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Syllabus_Session](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[SyllabusID] [int] NOT NULL,
	[SessionNumber] [int] NOT NULL,
	[Topic] [nvarchar](500) NOT NULL,
	[LearningTeachingType] [nvarchar](200) NULL,
	[ITU] [nvarchar](300) NULL,
	[StudentMaterials] [nvarchar](500) NULL,
	[SDownload] [nvarchar](200) NULL,
	[StudentTasks] [nvarchar](max) NULL,
	[URLs] [nvarchar](max) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Syllabus_Session] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training_Program]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training_Program](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ProgramCode] [nvarchar](50) NOT NULL,
	[ProgramName] [nvarchar](150) NOT NULL,
	[MajorName] [nvarchar](150) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/19/2026 11:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assessment_CLO] ON 

INSERT [dbo].[Assessment_CLO] ([AssessmentCLOID], [AssessmentID], [CLOID]) VALUES (13, 6, 7)
INSERT [dbo].[Assessment_CLO] ([AssessmentCLOID], [AssessmentID], [CLOID]) VALUES (14, 6, 8)
INSERT [dbo].[Assessment_CLO] ([AssessmentCLOID], [AssessmentID], [CLOID]) VALUES (15, 7, 6)
SET IDENTITY_INSERT [dbo].[Assessment_CLO] OFF
GO
SET IDENTITY_INSERT [dbo].[Chatbot_Query_Log] ON 

INSERT [dbo].[Chatbot_Query_Log] ([QueryID], [UserID], [Question], [Answer], [SourceType], [CreatedAt]) VALUES (1, 4, N'môn học PRJ có gì', N'Dạ chào bạn! Rất vui được hỗ trợ bạn! 😊

Hiện tại trong hệ thống dữ liệu của mình, mình có thông tin về môn **PRJ301 - Java Web Application Development**. Còn các môn PRJ khác (ví dụ PRJ303) thì mình cũng có một số thông tin, nhưng mình sẽ chia sẻ chi tiết về PRJ301 trước nhé!

---

## 📘 Tổng quan môn PRJ301 - Java Web Application Development

- **Tên môn**: Java Web Application Development (Phát triển ứng dụng Web với Java)
- **Số tín chỉ**: 3
- **Mô tả**: Phát triển ứng dụng web bằng Java JSP Servlet
- **Thời lượng**: 150 giờ (45 giờ lên lớp + 104 giờ tự học)
- **Công cụ sử dụng**: IntelliJ IDEA, SQL Server, Apache Tomcat
- **Điểm qua môn tối thiểu**: 5.0/10

---

## 🎯 Mục tiêu học tập (CLOs)

| Mã CLO | Mô tả |
|--------|-------|
| CLO1 | Apply knowledge of computing and mathematics to develop software |
| CLO2 | Identify and analyze software requirements from stakeholders |
| CLO3 | Design and implement web-based applications using Java technologies |
| CLO4 | Test and debug programs systematically |
| CLO5 | Work effectively in teams using software project management tools |

---

## 📊 Cấu trúc đánh giá

| Hình thức đánh giá | Trọng số | Ghi chú |
|--------------------|----------|---------|
| Assignment / Group project | 20% | Làm bài tập nhóm |
| Progress Test / Multiple choice | 20% | 60 phút |
| Final Exam / Written exam | 40% | 90 phút |
| Participation & Attitude / Attendance | 10% | Yêu cầu > 80% chuyên cần |
| Practice Exercises / Lab work | 10% | Bài tập thực hành |

---

## 📚 Tài liệu học tập

- **Giáo trình chính**: *Software Engineering: A Practitioner''s Approach* – Roger S. Pressman (Bản cứng)
- **Tài liệu phụ**: *Head First Java* – Kathy Sierra (Có bản online)

---

## 🗺️ Lộ trình học (Sessions)

Môn có **10 sessions**, bao gồm các chủ đề như:
- Session 1: Course Introduction & Overview (Slide 1)
- Session 2: Software Development Life Cycle (Slide 2)
- Session 3: Requirement Analysis (Slide 3)
- Các session còn lại tiếp tục với các chủ đề chuyên sâu.

---

Nếu bạn muốn xem chi tiết hơn hoặc tải tài liệu học tập (slide, đề cương, v.v.), bạn có thể truy cập vào link này nhé:

👉 [Xem chi tiết syllabus PRJ301](/syllabus/detail?syllabusId=2)

Bạn còn muốn hỏi gì thêm về môn PRJ301 hoặc các môn khác không? Mình sẵn sàng hỗ trợ bạn! 😊', N'Web Chatbot', CAST(N'2026-07-19T20:21:05.857' AS DateTime))
INSERT [dbo].[Chatbot_Query_Log] ([QueryID], [UserID], [Question], [Answer], [SourceType], [CreatedAt]) VALUES (2, 4, N'bạn ăn cơm chưa', N'Dạ, cảm ơn bạn đã hỏi thăm! Tôi là trợ lý ảo nên không ăn cơm được đâu ạ 😊. Nhưng tôi rất vui khi được hỗ trợ bạn về các vấn đề học tập trên hệ thống FLM.

Bạn có cần tôi giúp gì về chương trình đào tạo, môn học, lộ trình học tập hay tài liệu học tập không? Hãy cho tôi biết nhé!', N'Web Chatbot', CAST(N'2026-07-19T20:21:45.767' AS DateTime))
INSERT [dbo].[Chatbot_Query_Log] ([QueryID], [UserID], [Question], [Answer], [SourceType], [CreatedAt]) VALUES (3, 4, N'khung chương trình của ngành se ra sao', N'Dạ chào bạn! Rất vui được hỗ trợ bạn về thông tin chương trình đào tạo ngành SE (Software Engineering) tại FPT University.

Dựa trên dữ liệu hệ thống của mình, hiện tại có một số khung chương trình SE khác nhau, cụ thể như sau:

### 📚 Các khung chương trình SE

| Chương trình | Mã chương trình | Mô tả |
| :--- | :--- | :--- |
| **Software Engineering Curriculum 2025** | `se_k18` | Chương trình tổng quát cho ngành SE. |
| **SE - se_k18-A** | `se_k18` | Một nhánh của chương trình SE. |
| **SE - se_k18-B** | `se_k18` | Một nhánh khác của chương trình SE. |
| **SE - se_k18-C** | `japanese` | Chương trình SE kết hợp với tiếng Nhật. |

---

### 🗺️ Lộ trình học chi tiết cho từng chương trình

#### 1. Software Engineering Curriculum 2025 & SE - se_k18-A
- **Học kỳ 1**: `AI301` - Introduction to AI, `PRJ301` - Java Web Application Development
- **Học kỳ 2**: `PRO192` - Object-Oriented Programming
- **Học kỳ 3**: `DBI202` - Database Systems
- **Học kỳ 4**: `PRJ303` - Web Project
- **Học kỳ 5**: `SWR302` - Software Requirement
- **Học kỳ 6**: `SWT301` - Software Testing

#### 2. SE - se_k18-B
- **Học kỳ 1**: `AI301` - Introduction to AI
- **Học kỳ 2**: `PRO192` - Object-Oriented Programming
- **Học kỳ 3**: `DBI202` - Database Systems
- **Học kỳ 4**: `PRJ303` - Web Project
- **Học kỳ 5**: `SWR302` - Software Requirement, `SWT301` - Software Testing

#### 3. SE - se_k18-C (Kết hợp tiếng Nhật)
- **Học kỳ 1**: `AI301` - Introduction to AI
- **Học kỳ 2**: `DBI202` - Database Systems
- **Học kỳ 3**: `NET301` - Computer Networks
- **Học kỳ 4**: `PRJ301` - Java Web Application Development
- **Học kỳ 5**: `PRM392` - Mobile Programming

---

### 📌 Lưu ý quan trọng
- Môn **PRJ303** (Web Project) yêu cầu bạn phải hoàn thành môn **DBI202** và **PRO192** trước nhé.
- Ngoài ra, chương trình **Software Engineering Curriculum 2025** còn có môn **SWP391** (Software Project) ở học kỳ 6, là môn bắt buộc chuyên ngành.

Bạn muốn tìm hiểu thêm về môn học nào trong các chương trình trên không? Mình có thể cung cấp chi tiết về đề cương, CLOs, và tài liệu học tập cho bạn! 😊', N'Web Chatbot', CAST(N'2026-07-19T20:22:11.847' AS DateTime))
INSERT [dbo].[Chatbot_Query_Log] ([QueryID], [UserID], [Question], [Answer], [SourceType], [CreatedAt]) VALUES (4, 4, N'Học kỳ 3 ngành SE học những môn gì?', N'Dạ, theo dữ liệu hệ thống của mình, có một số chương trình đào tạo ngành SE (Software Engineering) với lộ trình khác nhau. Cụ thể về học kỳ 3, mình tìm thấy thông tin như sau:

**Chương trình: SE - se_k18-A (ID: 4)**
- **Học kỳ 3:** Môn **DBI202 - Database Systems** (3 tín chỉ, Bắt buộc)

**Chương trình: SE - se_k18-B (ID: 11)**
- **Học kỳ 3:** Môn **DBI202 - Database Systems** (3 tín chỉ, Bắt buộc)

**Chương trình: SE - se_k18-C (ID: 12)**
- **Học kỳ 3:** Môn **NET301 - Computer Networks** (3 tín chỉ, Bắt buộc)

Như vậy, tùy vào chương trình con (A, B, hay C) mà bạn đang theo học, môn học ở học kỳ 3 sẽ khác nhau:
- Nếu bạn học **se_k18-A** hoặc **se_k18-B**, học kỳ 3 bạn sẽ học **Database Systems (DBI202)**.
- Nếu bạn học **se_k18-C**, học kỳ 3 bạn sẽ học **Computer Networks (NET301)**.

Bạn có thể cho mình biết bạn đang theo chương trình nào để mình hỗ trợ chi tiết hơn không? Nếu cần thêm thông tin về môn học, đề cương hay tài liệu, mình sẵn sàng giúp bạn nhé! 😊', N'Web Chatbot', CAST(N'2026-07-19T20:24:00.820' AS DateTime))
SET IDENTITY_INSERT [dbo].[Chatbot_Query_Log] OFF
GO
SET IDENTITY_INSERT [dbo].[CLO] ON 

INSERT [dbo].[CLO] ([CLOID], [SyllabusID], [CLOName], [CLODetails], [LODetails], [DisplayOrder]) VALUES (6, 2, N'CLO1', N'CLO1', N'Apply knowledge of computing and mathematics to develop software', 1)
INSERT [dbo].[CLO] ([CLOID], [SyllabusID], [CLOName], [CLODetails], [LODetails], [DisplayOrder]) VALUES (7, 2, N'CLO2', N'CLO2', N'Identify and analyze software requirements from stakeholders', 2)
INSERT [dbo].[CLO] ([CLOID], [SyllabusID], [CLOName], [CLODetails], [LODetails], [DisplayOrder]) VALUES (8, 2, N'CLO3', N'CLO3', N'Design and implement web-based applications using Java technologies', 3)
SET IDENTITY_INSERT [dbo].[CLO] OFF
GO
SET IDENTITY_INSERT [dbo].[CLO_PLO] ON 

INSERT [dbo].[CLO_PLO] ([CloPloID], [CLOID], [PloID]) VALUES (16, 6, 25)
INSERT [dbo].[CLO_PLO] ([CloPloID], [CLOID], [PloID]) VALUES (17, 7, 25)
INSERT [dbo].[CLO_PLO] ([CloPloID], [CLOID], [PloID]) VALUES (18, 8, 25)
SET IDENTITY_INSERT [dbo].[CLO_PLO] OFF
GO
SET IDENTITY_INSERT [dbo].[Combo] ON 

INSERT [dbo].[Combo] ([ComboID], [CurriculumID], [ComboName], [Description], [Status], [DisplayOrder]) VALUES (1, 11, N'JS_IT', N'aeeee', N'Active', 1)
INSERT [dbo].[Combo] ([ComboID], [CurriculumID], [ComboName], [Description], [Status], [DisplayOrder]) VALUES (2, 11, N'JS_ad', N'aeed', N'Active', 1)
INSERT [dbo].[Combo] ([ComboID], [CurriculumID], [ComboName], [Description], [Status], [DisplayOrder]) VALUES (3, 11, N'KS', N'aggg', N'Active', NULL)
SET IDENTITY_INSERT [dbo].[Combo] OFF
GO
SET IDENTITY_INSERT [dbo].[Combo_Subject] ON 

INSERT [dbo].[Combo_Subject] ([ComboSubjectID], [ComboID], [SubjectID], [SemesterNo], [DisplayOrder]) VALUES (1, 1, 24, 6, 1)
INSERT [dbo].[Combo_Subject] ([ComboSubjectID], [ComboID], [SubjectID], [SemesterNo], [DisplayOrder]) VALUES (2, 1, 21, 7, 2)
INSERT [dbo].[Combo_Subject] ([ComboSubjectID], [ComboID], [SubjectID], [SemesterNo], [DisplayOrder]) VALUES (3, 2, 21, 6, 1)
SET IDENTITY_INSERT [dbo].[Combo_Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Curriculum] ON 

INSERT [dbo].[Curriculum] ([CurriculumID], [ProgramID], [CreatedBy], [CurriculumName], [Description], [Status]) VALUES (1, 1, 1, N'Software Engineering Curriculum 2025', N'Khung chương trình ngành Kỹ thuật phần mềm năm 2025', N'Active')
INSERT [dbo].[Curriculum] ([CurriculumID], [ProgramID], [CreatedBy], [CurriculumName], [Description], [Status]) VALUES (2, 1, 1, N'Software Engineering Curriculum 2025', N'Khung chương trình ngành Kỹ thuật phần mềm năm 2025', N'Active')
INSERT [dbo].[Curriculum] ([CurriculumID], [ProgramID], [CreatedBy], [CurriculumName], [Description], [Status]) VALUES (3, 1, 1, N'Software Engineering Curriculum 2025', N'Khung chương trình ngành Kỹ thuật phần mềm năm 2025', N'Active')
SET IDENTITY_INSERT [dbo].[Curriculum] OFF
GO
SET IDENTITY_INSERT [dbo].[Curriculum_Elective] ON 

INSERT [dbo].[Curriculum_Elective] ([CurriculumElectiveID], [CurriculumID], [SubjectID], [ElectiveGroupName], [DisplayOrder], [Status]) VALUES (2, 11, 24, N'Music', 1, N'Active')
INSERT [dbo].[Curriculum_Elective] ([CurriculumElectiveID], [CurriculumID], [SubjectID], [ElectiveGroupName], [DisplayOrder], [Status]) VALUES (3, 11, 21, N'ad', 2, N'Active')
INSERT [dbo].[Curriculum_Elective] ([CurriculumElectiveID], [CurriculumID], [SubjectID], [ElectiveGroupName], [DisplayOrder], [Status]) VALUES (4, 11, 16, NULL, 3, N'Active')
SET IDENTITY_INSERT [dbo].[Curriculum_Elective] OFF
GO
SET IDENTITY_INSERT [dbo].[Curriculum_Subject] ON 

INSERT [dbo].[Curriculum_Subject] ([CurriculumSubjectID], [CurriculumID], [SubjectID], [SemesterNo], [SubjectGroup], [IsRequired], [DisplayOrder]) VALUES (1, 1, 1, 6, N'Major', 1, 4)
INSERT [dbo].[Curriculum_Subject] ([CurriculumSubjectID], [CurriculumID], [SubjectID], [SemesterNo], [SubjectGroup], [IsRequired], [DisplayOrder]) VALUES (2, 2, 1, 6, N'Major', 1, 4)
INSERT [dbo].[Curriculum_Subject] ([CurriculumSubjectID], [CurriculumID], [SubjectID], [SemesterNo], [SubjectGroup], [IsRequired], [DisplayOrder]) VALUES (3, 4, 25, 1, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Curriculum_Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Curriculum_Subject_PLO] ON 

INSERT [dbo].[Curriculum_Subject_PLO] ([CurriculumSubjectPloID], [CurriculumID], [CurriculumSubjectID], [PloID], [ContributionLevel], [Description], [CreatedAt]) VALUES (2, 11, 35, 19, NULL, NULL, CAST(N'2026-07-15T14:24:36.0273675' AS DateTime2))
INSERT [dbo].[Curriculum_Subject_PLO] ([CurriculumSubjectPloID], [CurriculumID], [CurriculumSubjectID], [PloID], [ContributionLevel], [Description], [CreatedAt]) VALUES (3, 11, 36, 20, NULL, NULL, CAST(N'2026-07-15T14:24:36.0294776' AS DateTime2))
INSERT [dbo].[Curriculum_Subject_PLO] ([CurriculumSubjectPloID], [CurriculumID], [CurriculumSubjectID], [PloID], [ContributionLevel], [Description], [CreatedAt]) VALUES (4, 11, 37, 21, NULL, NULL, CAST(N'2026-07-15T14:24:36.0299183' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Curriculum_Subject_PLO] OFF
GO
SET IDENTITY_INSERT [dbo].[PLO] ON 

INSERT [dbo].[PLO] ([PloID], [CurriculumID], [PloCode], [PloDescription]) VALUES (1, 6, N'PLO01', N'Nghe hiểu hội thoại hàng ngày cơ bản')
INSERT [dbo].[PLO] ([PloID], [CurriculumID], [PloCode], [PloDescription]) VALUES (2, 6, N'PLO02', N'Giao tiếp được với người bản sứ')
INSERT [dbo].[PLO] ([PloID], [CurriculumID], [PloCode], [PloDescription]) VALUES (19, 11, N'PLO01', N'arrrrr')
SET IDENTITY_INSERT [dbo].[PLO] OFF
GO
SET IDENTITY_INSERT [dbo].[PO] ON 

INSERT [dbo].[PO] ([PoID], [CurriculumID], [PoCode], [PoDescription]) VALUES (1, 6, N'PO01', N'Thành thạo tiếng Nhật trong giao tiếp')
INSERT [dbo].[PO] ([PoID], [CurriculumID], [PoCode], [PoDescription]) VALUES (3, 11, N'PO01', N'ae')
INSERT [dbo].[PO] ([PoID], [CurriculumID], [PoCode], [PoDescription]) VALUES (4, 12, N'PO01', N'aeok')
SET IDENTITY_INSERT [dbo].[PO] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'System administrator')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'Student', N'Student user')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (3, N'Teacher', N'Teacher user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Session_CLO] ON 

INSERT [dbo].[Session_CLO] ([SessionCLOID], [SessionID], [CLOID]) VALUES (5, 4, 6)
INSERT [dbo].[Session_CLO] ([SessionCLOID], [SessionID], [CLOID]) VALUES (6, 4, 7)
INSERT [dbo].[Session_CLO] ([SessionCLOID], [SessionID], [CLOID]) VALUES (7, 5, 6)
GO
SET IDENTITY_INSERT [dbo].[Session_CLO] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectID], [CreatedBy], [SubjectCode], [SubjectName], [Credits], [Description], [Status]) VALUES (1, 2, N'SWP391', N'Software Project', 3, N'tạo dự án', N'pending design')
INSERT [dbo].[Subject] ([SubjectID], [CreatedBy], [SubjectCode], [SubjectName], [Credits], [Description], [Status]) VALUES (2, 2, N'SWP392', N'Software Project', 3, N'ádfghjkl', N'pending design')
INSERT [dbo].[Subject] ([SubjectID], [CreatedBy], [SubjectCode], [SubjectName], [Credits], [Description], [Status]) VALUES (15, 1, N'PRO192', N'Object-Oriented Programming', 3, N'Môn học lập trình hướng đối tượng với Java', N'Active')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject_Prerequisite] ON 

INSERT [dbo].[Subject_Prerequisite] ([PrerequisiteID], [SubjectID], [RequiredSubjectID], [ConditionType], [Description]) VALUES (1, 26, 16, N'Pass', N'Pass prerequisite subject')
INSERT [dbo].[Subject_Prerequisite] ([PrerequisiteID], [SubjectID], [RequiredSubjectID], [ConditionType], [Description]) VALUES (2, 26, 15, N'Pass', N'Pass prerequisite subject')
INSERT [dbo].[Subject_Prerequisite] ([PrerequisiteID], [SubjectID], [RequiredSubjectID], [ConditionType], [Description]) VALUES (3, 28, 25, N'Pass', N'Pass prerequisite subject')
SET IDENTITY_INSERT [dbo].[Subject_Prerequisite] OFF
GO
SET IDENTITY_INSERT [dbo].[Syllabus] ON 

SET IDENTITY_INSERT [dbo].[Syllabus] OFF
GO
SET IDENTITY_INSERT [dbo].[Syllabus_Assessment] ON 

INSERT [dbo].[Syllabus_Assessment] ([AssessmentID], [SyllabusID], [Category], [Type], [Part], [Weight], [CompletionCriteria], [Duration], [QuestionType], [NoQuestion], [KnowledgeAndSkill], [GradingGuide], [Note], [DisplayOrder]) VALUES (6, 2, N'Assignment', N'Group project', 1, CAST(20.00 AS Decimal(5, 2)), N'> 0', N'', N'Practical', NULL, N'', N'Rubric', N'', 1)
INSERT [dbo].[Syllabus_Assessment] ([AssessmentID], [SyllabusID], [Category], [Type], [Part], [Weight], [CompletionCriteria], [Duration], [QuestionType], [NoQuestion], [KnowledgeAndSkill], [GradingGuide], [Note], [DisplayOrder]) VALUES (7, 2, N'Progress Test', N'Multiple choice', 2, CAST(20.00 AS Decimal(5, 2)), N'> 0', N'60 min', N'MCQ', NULL, N'', N'Answer key', N'', 2)
INSERT [dbo].[Syllabus_Assessment] ([AssessmentID], [SyllabusID], [Category], [Type], [Part], [Weight], [CompletionCriteria], [Duration], [QuestionType], [NoQuestion], [KnowledgeAndSkill], [GradingGuide], [Note], [DisplayOrder]) VALUES (8, 2, N'Final Exam', N'Written exam', 3, CAST(40.00 AS Decimal(5, 2)), N'> 0', N'90 min', N'MCQ + Essay', NULL, N'', N'Answer key + Rubric', N'', 3)
SET IDENTITY_INSERT [dbo].[Syllabus_Assessment] OFF
GO
SET IDENTITY_INSERT [dbo].[Syllabus_Material] ON 

INSERT [dbo].[Syllabus_Material] ([MaterialID], [SyllabusID], [MaterialDescription], [Author], [Publisher], [PublishedDate], [Edition], [ISBN], [IsMainMaterial], [IsHardCopy], [IsOnline], [Note], [DisplayOrder]) VALUES (3, 2, N'Software Engineering: A Practitioner''s Approach', N'Roger S. Pressman', N'McGraw-Hill', N'2020', N'9th', N'978-1259872976', 1, 1, 0, N'', 1)
INSERT [dbo].[Syllabus_Material] ([MaterialID], [SyllabusID], [MaterialDescription], [Author], [Publisher], [PublishedDate], [Edition], [ISBN], [IsMainMaterial], [IsHardCopy], [IsOnline], [Note], [DisplayOrder]) VALUES (4, 2, N'Head First Java', N'Kathy Sierra', N'O''Reilly', N'2022', N'3rd', N'978-1491910771', 0, 0, 1, N'https://example.com', 2)
INSERT [dbo].[Syllabus_Material] ([MaterialID], [SyllabusID], [MaterialDescription], [Author], [Publisher], [PublishedDate], [Edition], [ISBN], [IsMainMaterial], [IsHardCopy], [IsOnline], [Note], [DisplayOrder]) VALUES (9, 1, N'Software Engineering: A Practitioner''s Approach', N'Roger S. Pressman', N'McGraw-Hill', N'2020', N'9th', N'978-1259872976', 1, 1, 0, N'', 1)
SET IDENTITY_INSERT [dbo].[Syllabus_Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Syllabus_Session] ON 

INSERT [dbo].[Syllabus_Session] ([SessionID], [SyllabusID], [SessionNumber], [Topic], [LearningTeachingType], [ITU], [StudentMaterials], [SDownload], [StudentTasks], [URLs], [DisplayOrder]) VALUES (4, 2, 1, N'Course Introduction & Overview', N'Lecture', N'', N'Slide 1', N'Yes', N'Read syllabus', N'', 1)
INSERT [dbo].[Syllabus_Session] ([SessionID], [SyllabusID], [SessionNumber], [Topic], [LearningTeachingType], [ITU], [StudentMaterials], [SDownload], [StudentTasks], [URLs], [DisplayOrder]) VALUES (5, 2, 2, N'Software Development Life Cycle', N'Lecture, Discussion', N'', N'Slide 2', N'', N'Read chapter 1', N'', 2)
INSERT [dbo].[Syllabus_Session] ([SessionID], [SyllabusID], [SessionNumber], [Topic], [LearningTeachingType], [ITU], [StudentMaterials], [SDownload], [StudentTasks], [URLs], [DisplayOrder]) VALUES (6, 2, 3, N'Requirement Analysis', N'Lecture, Workshop', N'AI literacy', N'Slide 3', N'Yes', N'Practice exercises', N'', 3)
GO
SET IDENTITY_INSERT [dbo].[Syllabus_Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Training_Program] ON 

INSERT [dbo].[Training_Program] ([ProgramID], [CreatedBy], [ProgramCode], [ProgramName], [MajorName], [Description], [Status]) VALUES (1, 2, N'SE', N'se_k18', N'ktpm', N'ktpm', N'Active')
INSERT [dbo].[Training_Program] ([ProgramID], [CreatedBy], [ProgramCode], [ProgramName], [MajorName], [Description], [Status]) VALUES (2, 2, N'GD', N'digital design', N'digital design', N'thiết kế đồ họa số', N'Active')
INSERT [dbo].[Training_Program] ([ProgramID], [CreatedBy], [ProgramCode], [ProgramName], [MajorName], [Description], [Status]) VALUES (3, 2, N'SD', N'Thiết kế vi mạch', N'Thiết kế vi mạch', N'Đào tạo thiết kế vi mạch', N'Active')
SET IDENTITY_INSERT [dbo].[Training_Program] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [RoleID], [Email], [PasswordHash], [FullName], [Status], [CreatedAt]) VALUES (1, 1, N'admin@gmail.com', N'$2a$10$2m5/078LK.UYjWHIHmeZK.tvZyJqJm87v15.an3ezJ11Ur6w9lhLy', N'admin', N'Active', CAST(N'2026-06-10T14:08:34.530' AS DateTime))
INSERT [dbo].[User] ([UserID], [RoleID], [Email], [PasswordHash], [FullName], [Status], [CreatedAt]) VALUES (2, 4, N'trainingdepart@gmail.com', N'$2a$10$ukXlaqfMWQaRGLU3w6R/veVpGC38PhALtwhDynuCr69GBWO5EklGO', N'trainingdepart', N'Active', CAST(N'2026-06-15T09:08:20.180' AS DateTime))
INSERT [dbo].[User] ([UserID], [RoleID], [Email], [PasswordHash], [FullName], [Status], [CreatedAt]) VALUES (3, 5, N'syllabusds@gmail.com', N'$2a$10$YkPKAwNN6FfmQWpLIGq/4.8lExIAVlPwRVbGZ87qtGtIAXNtsX6/u', N'syllabusds', N'Active', CAST(N'2026-06-17T15:51:17.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ_Assessment_CLO]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Assessment_CLO] ADD  CONSTRAINT [UQ_Assessment_CLO] UNIQUE NONCLUSTERED 
(
	[AssessmentID] ASC,
	[CLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CLO_PLO]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[CLO_PLO] ADD  CONSTRAINT [UQ_CLO_PLO] UNIQUE NONCLUSTERED 
(
	[CLOID] ASC,
	[PloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLO_PLO_CLOID]    Script Date: 7/19/2026 11:56:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLO_PLO_CLOID] ON [dbo].[CLO_PLO]
(
	[CLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLO_PLO_PloID]    Script Date: 7/19/2026 11:56:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLO_PLO_PloID] ON [dbo].[CLO_PLO]
(
	[PloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ComboSubject]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Combo_Subject] ADD  CONSTRAINT [UQ_ComboSubject] UNIQUE NONCLUSTERED 
(
	[ComboID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CurriculumElective]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Curriculum_Elective] ADD  CONSTRAINT [UQ_CurriculumElective] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CurriculumSubject]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Curriculum_Subject] ADD  CONSTRAINT [UQ_CurriculumSubject] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_CurriculumSubject_ID_Curriculum]    Script Date: 7/19/2026 11:56:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_CurriculumSubject_ID_Curriculum] ON [dbo].[Curriculum_Subject]
(
	[CurriculumSubjectID] ASC,
	[CurriculumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CurriculumSubject_PLO]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Curriculum_Subject_PLO] ADD  CONSTRAINT [UQ_CurriculumSubject_PLO] UNIQUE NONCLUSTERED 
(
	[CurriculumSubjectID] ASC,
	[PloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PLO_Curriculum_Code]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[PLO] ADD  CONSTRAINT [UQ_PLO_Curriculum_Code] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[PloCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_PLO_ID_Curriculum]    Script Date: 7/19/2026 11:56:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PLO_ID_Curriculum] ON [dbo].[PLO]
(
	[PloID] ASC,
	[CurriculumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_PO_Curriculum_Code]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[PO] ADD  CONSTRAINT [UQ_PO_Curriculum_Code] UNIQUE NONCLUSTERED 
(
	[CurriculumID] ASC,
	[PoCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B61609279A07D]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Session_CLO]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Session_CLO] ADD  CONSTRAINT [UQ_Session_CLO] UNIQUE NONCLUSTERED 
(
	[SessionID] ASC,
	[CLOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subject__9F7CE1A94D467D56]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Subject] ADD UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SubjectPrerequisite]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Subject_Prerequisite] ADD  CONSTRAINT [UQ_SubjectPrerequisite] UNIQUE NONCLUSTERED 
(
	[SubjectID] ASC,
	[RequiredSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Syllabus_Version]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Syllabus] ADD  CONSTRAINT [UQ_Syllabus_Version] UNIQUE NONCLUSTERED 
(
	[SubjectID] ASC,
	[VersionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Session_Number]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Syllabus_Session] ADD  CONSTRAINT [UQ_Session_Number] UNIQUE NONCLUSTERED 
(
	[SyllabusID] ASC,
	[SessionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Training__7658A9874FE745D5]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[Training_Program] ADD UNIQUE NONCLUSTERED 
(
	[ProgramCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534EC78A7AD]    Script Date: 7/19/2026 11:56:48 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chatbot_Query_Log] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Combo] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum_Elective] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Curriculum_Subject] ADD  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO] ADD  CONSTRAINT [DF_CurriculumSubjectPLO_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT ('Public') FOR [Visibility]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Learning_Material] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ('WaitingForSyllabus') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT ((0)) FOR [IsCurrentVersion]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Syllabus] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[Syllabus_Feedback] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Syllabus_Feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Syllabus_Material] ADD  DEFAULT ((0)) FOR [IsMainMaterial]
GO
ALTER TABLE [dbo].[Syllabus_Material] ADD  DEFAULT ((0)) FOR [IsHardCopy]
GO
ALTER TABLE [dbo].[Syllabus_Material] ADD  DEFAULT ((0)) FOR [IsOnline]
GO
ALTER TABLE [dbo].[Training_Program] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assessment_CLO]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentCLO_Assessment] FOREIGN KEY([AssessmentID])
REFERENCES [dbo].[Syllabus_Assessment] ([AssessmentID])
GO
ALTER TABLE [dbo].[Assessment_CLO] CHECK CONSTRAINT [FK_AssessmentCLO_Assessment]
GO
ALTER TABLE [dbo].[Assessment_CLO]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentCLO_CLO] FOREIGN KEY([CLOID])
REFERENCES [dbo].[CLO] ([CLOID])
GO
ALTER TABLE [dbo].[Assessment_CLO] CHECK CONSTRAINT [FK_AssessmentCLO_CLO]
GO
ALTER TABLE [dbo].[Chatbot_Query_Log]  WITH CHECK ADD  CONSTRAINT [FK_ChatbotQueryLog_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Chatbot_Query_Log] CHECK CONSTRAINT [FK_ChatbotQueryLog_User]
GO
ALTER TABLE [dbo].[CLO]  WITH CHECK ADD  CONSTRAINT [FK_CLO_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[CLO] CHECK CONSTRAINT [FK_CLO_Syllabus]
GO
ALTER TABLE [dbo].[CLO_PLO]  WITH CHECK ADD  CONSTRAINT [FK_CLOPLO_CLO] FOREIGN KEY([CLOID])
REFERENCES [dbo].[CLO] ([CLOID])
GO
ALTER TABLE [dbo].[CLO_PLO] CHECK CONSTRAINT [FK_CLOPLO_CLO]
GO
ALTER TABLE [dbo].[CLO_PLO]  WITH CHECK ADD  CONSTRAINT [FK_CLOPLO_PLO] FOREIGN KEY([PloID])
REFERENCES [dbo].[PLO] ([PloID])
GO
ALTER TABLE [dbo].[CLO_PLO] CHECK CONSTRAINT [FK_CLOPLO_PLO]
GO
ALTER TABLE [dbo].[Combo]  WITH CHECK ADD  CONSTRAINT [FK_Combo_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Combo] CHECK CONSTRAINT [FK_Combo_Curriculum]
GO
ALTER TABLE [dbo].[Combo_Subject]  WITH CHECK ADD  CONSTRAINT [FK_ComboSubject_Combo] FOREIGN KEY([ComboID])
REFERENCES [dbo].[Combo] ([ComboID])
GO
ALTER TABLE [dbo].[Combo_Subject] CHECK CONSTRAINT [FK_ComboSubject_Combo]
GO
ALTER TABLE [dbo].[Combo_Subject]  WITH CHECK ADD  CONSTRAINT [FK_ComboSubject_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Combo_Subject] CHECK CONSTRAINT [FK_ComboSubject_Subject]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_TrainingProgram] FOREIGN KEY([ProgramID])
REFERENCES [dbo].[Training_Program] ([ProgramID])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [FK_Curriculum_TrainingProgram]
GO
ALTER TABLE [dbo].[Curriculum]  WITH CHECK ADD  CONSTRAINT [FK_Curriculum_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Curriculum] CHECK CONSTRAINT [FK_Curriculum_User]
GO
ALTER TABLE [dbo].[Curriculum_Elective]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumElective_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Elective] CHECK CONSTRAINT [FK_CurriculumElective_Curriculum]
GO
ALTER TABLE [dbo].[Curriculum_Elective]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumElective_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Curriculum_Elective] CHECK CONSTRAINT [FK_CurriculumElective_Subject]
GO
ALTER TABLE [dbo].[Curriculum_Subject]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubject_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Subject] CHECK CONSTRAINT [FK_CurriculumSubject_Curriculum]
GO
ALTER TABLE [dbo].[Curriculum_Subject]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubject_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Curriculum_Subject] CHECK CONSTRAINT [FK_CurriculumSubject_Subject]
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubjectPLO_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO] CHECK CONSTRAINT [FK_CurriculumSubjectPLO_Curriculum]
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubjectPLO_CurriculumSubject] FOREIGN KEY([CurriculumSubjectID], [CurriculumID])
REFERENCES [dbo].[Curriculum_Subject] ([CurriculumSubjectID], [CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO] CHECK CONSTRAINT [FK_CurriculumSubjectPLO_CurriculumSubject]
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO]  WITH CHECK ADD  CONSTRAINT [FK_CurriculumSubjectPLO_PLO] FOREIGN KEY([PloID], [CurriculumID])
REFERENCES [dbo].[PLO] ([PloID], [CurriculumID])
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO] CHECK CONSTRAINT [FK_CurriculumSubjectPLO_PLO]
GO
ALTER TABLE [dbo].[Learning_Material]  WITH CHECK ADD  CONSTRAINT [FK_LearningMaterial_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Learning_Material] CHECK CONSTRAINT [FK_LearningMaterial_Syllabus]
GO
ALTER TABLE [dbo].[Learning_Material]  WITH CHECK ADD  CONSTRAINT [FK_LearningMaterial_User] FOREIGN KEY([UploadedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Learning_Material] CHECK CONSTRAINT [FK_LearningMaterial_User]
GO
ALTER TABLE [dbo].[PLO]  WITH CHECK ADD  CONSTRAINT [FK_PLO_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLO] CHECK CONSTRAINT [FK_PLO_Curriculum]
GO
ALTER TABLE [dbo].[PO]  WITH CHECK ADD  CONSTRAINT [FK_PO_Curriculum] FOREIGN KEY([CurriculumID])
REFERENCES [dbo].[Curriculum] ([CurriculumID])
GO
ALTER TABLE [dbo].[PO] CHECK CONSTRAINT [FK_PO_Curriculum]
GO
ALTER TABLE [dbo].[Session_CLO]  WITH CHECK ADD  CONSTRAINT [FK_SessionCLO_CLO] FOREIGN KEY([CLOID])
REFERENCES [dbo].[CLO] ([CLOID])
GO
ALTER TABLE [dbo].[Session_CLO] CHECK CONSTRAINT [FK_SessionCLO_CLO]
GO
ALTER TABLE [dbo].[Session_CLO]  WITH CHECK ADD  CONSTRAINT [FK_SessionCLO_Session] FOREIGN KEY([SessionID])
REFERENCES [dbo].[Syllabus_Session] ([SessionID])
GO
ALTER TABLE [dbo].[Session_CLO] CHECK CONSTRAINT [FK_SessionCLO_Session]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_User]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrerequisite_RequiredSubject] FOREIGN KEY([RequiredSubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [FK_SubjectPrerequisite_RequiredSubject]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [FK_SubjectPrerequisite_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [FK_SubjectPrerequisite_Subject]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_ApprovedBy]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_CreatedBy]
GO
ALTER TABLE [dbo].[Syllabus]  WITH CHECK ADD  CONSTRAINT [FK_Syllabus_Subject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([SubjectID])
GO
ALTER TABLE [dbo].[Syllabus] CHECK CONSTRAINT [FK_Syllabus_Subject]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_RequestedBy]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_ReviewedBy]
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalRequest_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Approval_Request] CHECK CONSTRAINT [FK_ApprovalRequest_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Assessment]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusAssessment_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Assessment] CHECK CONSTRAINT [FK_SyllabusAssessment_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusFeedback_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Feedback] CHECK CONSTRAINT [FK_SyllabusFeedback_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Feedback]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusFeedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Syllabus_Feedback] CHECK CONSTRAINT [FK_SyllabusFeedback_User]
GO
ALTER TABLE [dbo].[Syllabus_Material]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusMaterial_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Material] CHECK CONSTRAINT [FK_SyllabusMaterial_Syllabus]
GO
ALTER TABLE [dbo].[Syllabus_Session]  WITH CHECK ADD  CONSTRAINT [FK_SyllabusSession_Syllabus] FOREIGN KEY([SyllabusID])
REFERENCES [dbo].[Syllabus] ([SyllabusID])
GO
ALTER TABLE [dbo].[Syllabus_Session] CHECK CONSTRAINT [FK_SyllabusSession_Syllabus]
GO
ALTER TABLE [dbo].[Training_Program]  WITH CHECK ADD  CONSTRAINT [FK_TrainingProgram_User] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Training_Program] CHECK CONSTRAINT [FK_TrainingProgram_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO]  WITH CHECK ADD  CONSTRAINT [CK_CurriculumSubjectPLO_Level] CHECK  (([ContributionLevel] IS NULL OR ([ContributionLevel]='M' OR [ContributionLevel]='R' OR [ContributionLevel]='I')))
GO
ALTER TABLE [dbo].[Curriculum_Subject_PLO] CHECK CONSTRAINT [CK_CurriculumSubjectPLO_Level]
GO
ALTER TABLE [dbo].[Subject_Prerequisite]  WITH CHECK ADD  CONSTRAINT [CK_SubjectPrerequisite_NotSelf] CHECK  (([SubjectID]<>[RequiredSubjectID]))
GO
ALTER TABLE [dbo].[Subject_Prerequisite] CHECK CONSTRAINT [CK_SubjectPrerequisite_NotSelf]
GO
USE [master]
GO
